.error-page {
    margin-top: 3rem;
    text-align: center;
    background-color: var(--background-color);
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 4rem;
}

.error-title {
    color: var(--text-color);
}