.contact-page {
  padding: 1rem 4rem;
  background-color: var(--background-color);

  .contact-form {
    margin-top: 10.2rem;
  }
}

@media only screen and (max-width: 660px) {
  .contact-page {
    padding: 0.5rem 1rem;
    margin-top: 3rem;

    .contact-form {
      margin-top: 5.2rem;
    }
  }
}
