.contact-page {
    padding: 1rem 4rem;
    margin-top: 3rem;
    background-color: var(--background-color);
    height: 100vh;
}

@media only screen and (max-width: 660px) {
    .contact-page {
        padding: 0.5rem 1rem;
        margin-top: 3rem;
    }
}