.contact-form {
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem;
    color: var(--primary-text-color);
    background-color: var(--background-color);
}

.contact-form h2 {
    margin-bottom: 1rem;
}

.contact-form p {
    width: 80%;
    margin-bottom: 2rem;
}

.social-form-links {
    margin: 2rem 0;
    display: flex;
}

.social-form-links a {
    margin-right: 2rem;
}

.contact-btn {
    width: 100%;
    padding: 0.5rem;
    background-color: var(--interactive-text-color);
    border: 1px solid var(--interactive-text-color);
    color: #FFFFFF;
    padding: 0.75rem 0;
    font-weight: 300;
    letter-spacing: 1px;
}

.contact-btn:hover {
    cursor: pointer;
    background-color: var(--hover-interactive-color);
    color: #FFFFFF;
    border: 1px solid var(--hover-interactive-color);
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .contact-form {
        width: 100%;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 4rem;
        margin-bottom: 0;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}