.header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.75rem 1rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    color: #FFFFFF;
    background-color: #000000;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.menu-icon {
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.menu-styling {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
    top: 3.5rem;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #000000;
    transition: 0.5s ease-in-out;
}

.menu-styling a {
    padding-bottom: 1rem;
}

.menu-styling a:hover {
    color: var(--hover-interactive-color);
    border-bottom: 2px solid var(--hover-interactive-color);
}

.show-menu {
    display: flex;
}

.theme-button {
    background-color: transparent;
    border: none;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

    .header {
        padding: 0.75rem 4rem;
    }
    .menu-icon {
        display: none;
    }

    .menu-styling {
        width: 50%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        position: static;
        background-color: transparent;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}