.projects-card {
  width: 24%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--background-color);
  border: 1px solid var(--accent-color);
  margin-bottom: 2rem;
  border-radius: 5px;
}

.project-img {
  display: block;
  border-radius: 5px 5px 0 0;
}

.project-information {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.project-name {
  color: var(--text-color);
  font-family: var(--font-heading);
  font-size: 1rem;
  font-weight: 600;
  margin: 0.5rem 0;
}

.pill {
  display: inline-block;
  font-size: 0.65rem;
  font-weight: 500;
  background-color: var(--cta-color);
  color: var(--text-color);
  border-radius: 20px;
  padding: 0.125rem 0.75rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  font-family: var(--font-heading);
}

.project-description {
  color: var(--text-color);
  font-size: 0.8rem;
  font-family: var(--font-article);
  margin: 0.5rem 0;
}

.project-link {
  display: block;
  width: 100%;
  text-align: center;
  margin-bottom: 1rem;
  padding: 0.4rem 0.8rem;
  background-color: var(--cta-color);
  border-radius: 5px;
}

.project-link-two {
  display: block;
  width: 100%;
  text-align: center;
  margin-bottom: 1rem;
  padding: 0.4rem 0.8rem;
  color: var(--text-color);
  background-color: transparent;
  border: 1px solid var(--text-color);
  border-radius: 5px;
}

.project-link-two:hover {
  color: var(--text-color);
  background-color: var(--cta-color);
  border: 1px solid var(--cta-color);
  -webkit-box-shadow: -7px 4px 14px -6px rgba(138, 134, 138, 1);
  -moz-box-shadow: -7px 4px 14px -6px rgba(138, 134, 138, 1);
  box-shadow: -7px 4px 14px -6px rgba(138, 134, 138, 1);
}

.project-link:hover {
  background-color: var(--text-color);
  color: var(--cta-color);
  -webkit-box-shadow: -7px 4px 14px -6px rgba(138, 134, 138, 1);
  -moz-box-shadow: -7px 4px 14px -6px rgba(138, 134, 138, 1);
  box-shadow: -7px 4px 14px -6px rgba(138, 134, 138, 1);
}

.projects-card:hover {
  transform: scale(1.04);
  box-shadow: -1px 10px 35px -10px rgba(135, 135, 135, 0.75);
  -webkit-box-shadow: -1px 10px 35px -10px rgba(135, 135, 135, 0.75);
  -moz-box-shadow: -1px 10px 35px -10px rgba(135, 135, 135, 0.75);
}

@media only screen and (max-width: 660px) {
  .projects-card {
    width: 100%;
  }
}
